<div class="row">
  <div class="quicksand text-center glow-blue-text">
    <h1 id="welcome-headline">Social, Markdown Wikis</h1>
  </div>
</div>
<div class="row quicksand">
  <div class="col-xs-4 col-xs-offset-4 text-center" id="signup-box">
    <h3 class ="glow-blue-text">Create and Share Markdown Wikis</h3>
  </div>
</div>
<div class="row">
    <div class=" col-sm-2 col-sm-offset-5 col-xs-12 rounded bordered dark-background text-center">
      <%= link_to "Sign Up", new_user_registration_path, class: 'glow-blue-text quicksand' %>
    </div>
</div>

<div class="row quicksand" id="plans">
  <div class="box col-xs-4 col-xs-offset-2 text-center">
    <div class="row glow-blue-text">
      Create as many public wikis as you want
    </div>
    <div class="row">
      <span class="glyphicon glyphicon-gift glow-blue-text welcome-icons"></span>
    </div>
    <div class="row glow-blue-text">
        Free Plan
    </div>
  </div>
  <div class="box col-xs-4 text-center">
    <div class="row glow-blue-text">
      Create private wikis!
    </div>
    <div class="row">
      <span class="glyphicon glyphicon-usd glow-blue-text welcome-icons"></span>
    </div>
    <div class="row glow-blue-text">
      Premium Plan
    </div>
  </div>
</div>
<%= link_to wikis_path, class: 'all gray-to-light-text' do %>
    <span id="all" class="nav-icons dot-matrix-ext">=</span>
<% end %>