<li class="list-group-item">
  <table>
    <tr>
      <td class="wiki-name"  ><%= link_to wiki.name, wiki %></td>
      <td class="wiki-owner" ><%= wiki.user.name %></td>
      <td class="wiki-edit"  >
        <% if policy(wiki).edit? %>
            <%= link_to edit_wiki_path(wiki) do %>
                <i class="fa fa-pencil-square-o"></i>
            <% end %>
        <% else %>
            <i class="fa fa-pencil-square-o"></i>
        <% end %>
      </td>
      <td class="wiki-share" ><%= wiki.collaborations.count + 1 %></td>
    </tr>
  </table>
</li>


<%#= link_to session[:last_page] do %>
    <!--<i class="fa fa-angle-left fa-4x nav-icons back row-inline"></i>-->
<%# end %>