<h1>All Wikis</h1>

<div class="row">
  <%= link_to 'New Wiki', new_wiki_path %>
</div>

<div class="wiki-frame col-xs-4 col-xs-offset-4">
  <ul>
    <%= render @wikis %>
  </ul>
</div>

<div class="row">
  <%= link_to 'New Wiki', new_wiki_path %>
</div>