<h1>My Wikis</h1>

<div class="row">
  <%= link_to 'New Wiki', new_wiki_path %>
</div>

<div class="wiki-frame col-xs-4 col-xs-offset-4">
  <ul>
    <% @wikis.each do |wiki| %>
        <li class="list-group-item">
            <%= link_to wiki.name, wiki %>
        </li>
    <% end %>
  </ul>
</div>
