
<div class="row">
  <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 dark-background bordered dot-matrix-ext text-center">
    <%= link_to 'New Wiki', new_wiki_path, class:'glow-light-text button-bigger'  %>
  </div>
</div>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-xs-12">
    <div class="row wiki-headers">
      <div class="col-sm-5 col-xs-5 glow-light-text dot-matrix-reg">Wiki Name</div>
      <div class="col-sm-5 col-xs-5 glow-light-text dot-matrix-reg">Author</div>
      <div class="col-sm-1 col-xs-1 glow-light-text dot-matrix-reg">Edit?</div>
      <div class="col-sm-1 hidden-xs glow-light-text dot-matrix-reg">Editors</div>
    </div>
  </div>

</div>
<div class="col-sm-8 col-sm-offset-2 col-xs-12">
  <div id="wiki-frame" class="bordered" >
    <ul class="dark-background dot-matrix-reg">
      <%= render @wikis %>
    </ul>
  </div>
</div>
