
<div class="row">
  <%= link_to 'New Wiki', new_wiki_path %>
</div>

<div class="col-sm-6 col-sm-offset-3 col-xs-12">
  <div id="wiki-frame" class="bordered" >
    <ul class="list-group">
      <%= render @wikis %>
    </ul>
  </div>
</div>
