
<div class="row">
  <div class="col-xs-2 col-xs-offset-5 dark-background bordered dot-matrix-ext text-center">
    <%= link_to 'New Wiki', new_wiki_path, class:'glow-light-text button-bigger'  %>
  </div>
</div>

<div class="col-sm-6 col-sm-offset-3 col-xs-12">
  <div id="wiki-frame" class="bordered" >
    <ul class="dark-background dot-matrix-reg">
      <%= render @wikis %>
    </ul>
  </div>
</div>
