<h1>New Wiki</h1>

<div class="row">
  <div class="col-xs-6">
    <%= simple_form_for Wiki.new do |w| %>

        <div class="input-group"><%= w.text_field :name, placeholder: "name" %></div>
        <%#= w.input :body, input_html: { id: 'text-input' }, rows:6, cols:60 %>

        <div class="input-group">
          <textarea id="text-input" name="wiki[body]"  rows="30" cols="80"
            oninput="this.editor.update()" placeholder=""><%= @markdown_tutorial %></textarea>
        </div>
        <%= w.submit %>
    <% end %>
  </div>
  <div class="col-xs-6">
      <div id="preview" class="col-xs-6"> </div>
  </div>

</div>



<script>
    function Editor(input, preview) {
        this.update = function () {
            preview.innerHTML = markdown.toHTML(input.value);
        };
        input.editor = this;
        this.update();
    }
    var $ = function (id) { return document.getElementById(id); };
    new Editor($("text-input"), $("preview"));
</script>




