<%= simple_form_for Wiki.new do |w| %>

    <div class="row"> <!-- row 2 - name field -->
      <div class="name-box col-sm-5 col-xs-12">
        <%= w.text_field :name, placeholder: 'name' %>
      </div>
    </div>           <!-- row 2 - name field -->

    <div class="row"> <!-- row 3 - the two text boxes -->
      <div class="col-sm-5 col-xs-12">
        <textarea id="text-input" class="form-control bordered quicksand" name="wiki[body]" oninput="this.editor.update()" placeholder=""><%= @filler_text %></textarea>
      </div>

      <div class="col-sm-7 col-xs-12 preview">
        <div id="preview" class="bordered quicksand"> </div>
      </div>
    </div>            <!-- row 3 - the two text boxes -->

    <div class='row' id='button-row'>
      <div class='col-sx-1 glow-light-text'>
        <%= w.button :submit, class:"dot-matrix-reg glow-light-text"%>

      </div>
    </div>
    
<% end %>

<script>
    $(document).ready(function(){
        function Editor(input, preview) {
            this.update = function () {
                preview.innerHTML = markdown.toHTML(input.value);
            };
            input.editor = this;
            this.update();
        }

        new Editor($("#text-input")[0], $("#preview")[0]);

    });
</script>

