<textarea id="hidden-text" ><%= @wiki.body %></textarea>
<div class="row spacer"></div>
<div class="row">

  <div class="col-sm-8 col-xs-12">
    <div id="preview" class="show"> </div>
  </div>

  <% if current_user.id == @wiki.user_id %>
      <%= link_to wiki_collaborations_path(@wiki.id) do %>
          <div class="col-sm-4 col-xs-12" >
            <div class="list-group" id="collab-list">
                <%= render partial: "collaborations/collaborator", collection: @collaborators %>
            </div>
          </div>
      <% end %>
  <% end %>

</div>

<div class="row" id="button-row">

  <div class="col-xs-1" id="edit-div">

    <% if policy(@wiki).edit? %>
        <button id="edit">
            <%= link_to "Edit", edit_wiki_path %>
        </button>
    <% end %>

  </div>

</div>

<script>
    $(document).ready(function(){
        function Editor(input, preview) {
            this.update = function () {
                preview.innerHTML = markdown.toHTML(input.value);
            };
            input.editor = this;
            this.update();
        }

        //var $ = function (id) { return document.getElementById(id); };
        new Editor($("#hidden-text")[0], $("#preview")[0]);

        $('.all').hover(  function(){$('.all').addClass('glow-blue-text')},  function(){$('.all').removeClass('glow-blue-text')} );
        $('.back').hover( function(){$('.back').addClass('glow-blue-text')}, function(){$('.back').removeClass('glow-blue-text')} );

        $('#edit').hover( addBlueGlow, removeBlueGlow );
        $('#collab-list').hover( addAmberGlow, removeAmberGlow );

    });
</script>