@import "bootstrap";

.user-info { margin-top: 9px; }
.nav { margin-top: 5px; }

#signup-box {
  border: solid 3px black;
}

.box {
  border: solid 1px #AAA;
  margin-top: 20px;
  line-height: 250%;
}

#plans .glyphicon {
  font-size: 2.5em;
}