$link-color: #666;
$navbar-default-color: white;

@import "bootstrap";
@import "signin";
@import "font";

body { background-color:black;  }

.quicksand, nav, .collaborator, .name-box, #wiki-frame, .list-group {
  font-family: 'quicksandregular';
}

.nav {
  height:50px;
  text-decoration: none;
}

.container, .bordered, #wiki_name, .list-group, input.btn, #edit, #edit_collaborators, #collab-list {
  border: 5px lightgray double;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}


.container {
  box-shadow: 0px 0px 100px turquoise;
  margin-top: 9px;
}

.dark-background, input.btn, #edit_collaborators {
  background-color: #222;
}

#preview {
  background:url(
  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJUlEQVQYV2M0Njb+z0AEYBxkCgUFBRnev3+P4vLB5kZswUq0GwF2QRL7aYh8iAAAAABJRU5ErkJggg==
  ) repeat;
}

/////////////////////////// Colors and Glows ////////////////////////////////////

            .glow-dim-text {
              color: white;
              text-shadow: 0 0 10px gold;
              vertical-align: middle;
            }

            .glow-light-text {
              color: white;
              text-shadow: 0 0 10px orange,0 0 30px gold;
              vertical-align: middle;
            }

            a.glow-light-text:hover {
              color: white;
              text-decoration: none;
              text-shadow: 0 0 10px orange,0 0 30px gold, 0 0 20px orange,0 0 50px gold;
            }

            .glow-blue-text {
              color: white;
              text-shadow: 0 0 10px blue, 0 0 30px lightblue;
            }

            .glow-blue-text:hover {
              color: white;
              text-decoration: none;
              text-shadow: 0 0 10px blue, 0 0 30px lightblue, 0 0 20px blue, 0 0 50px lightblue;
            }

            .glow-red-text {
              color: darkred;
//              text-shadow: 0px 0px 5px red;
            }

            .glow-red-text:hover {
              color: red;
              text-shadow: 0px 0px 10px red;
            }

            .glow-green-text {
              color: #AFA;
              text-shadow: 0px 0px 10px green, 0px 0px 30px limegreen;
            }

            .glow-green-text:hover {
              color: #FFF;
              text-decoration: none;
              text-shadow: 0px 0px 10px green, 0px 0px 30px limegreen, 0px 0px 20px green, 0px 0px 50px limegreen;
            }


            .glow-gold-text {
              color: #FFBE00;
              text-shadow: 0px 0px 10px yellow, 0px 0px 30px lightyellow;
            }

            .glow-gold-text:hover {
              color: #FFFF00;
              text-decoration: none;
              text-shadow: 0px 0px 10px yellow, 0px 0px 30px lightyellow, 0px 0px 20px yellow, 0px 0px 50px lightyellow;
            }

//////////////////// welcome page //////////////////////////

    .container {
      background-color: rgb(42,39,160); /*top colour*/
      background-image: -webkit-linear-gradient(top, rgb(42,39,160), rgb(32,126,87));
      background-image:    -moz-linear-gradient(top, rgb(42,39,160), rgb(32,126,87));
      background-image:      -o-linear-gradient(top, rgb(42,39,160), rgb(32,126,87));
      background-image:         linear-gradient(to bottom, rgb(42,39,160), rgb(32,126,87));

    }

    #welcome-headline {
      font-size: 4em;
      margin-top: 27px;
    }

    .glyphicon { top: 5px; }

    .user-info { margin-top: 9px; }

    .box {
      border: solid 1px #AAA;
      margin-top: 20px;
      line-height: 250%;
    }

    .welcome-icons { font-size: 2.5em; }

    #plans { margin-bottom: 30px; }

/////////////////////// icon bar ///////////////////////////

#icon-bar {  height: 70px;  }

.row-inline {
  display: inline-block;
  height: 40px;
}

.dot-matrix-ext {  font-family: DotMatrixExtended; }

.dot-matrix-reg { font-family: DotMatrixRegular; }

#all, #back, #headline, #headline-right {
  font-size: 3.0em;
  vertical-align: middle;
}

#headline-right { font-size: 2em; }

.nav-icons {  position:relative;  }

#all { left: 10px; }

#back { left: 18px; }

#headline { margin-left: 35px; }

#headline-right { margin-right: 10px;}

.html-marquee {
  font-family: DotMatrixRegular;
  behavior: 'slide';
  scrollamount: 7;
  direction:'left';
}

h1 { margin-top: 0px; }

.spacer {
  height: 6px;
}
/////////////////// buttons ///////////////////////////


#edit_collaborators {
  font-family: 'quicksandlight';
  text-decoration: none;
  color: #AAA;

  font-size: 1.25em;
  margin-bottom: 7px;
}

.button-bigger {
  font-size: 1.25em;
}

#text-input, #wiki_name, #preview {
  padding-left: 5px;
}

#edit, #toggle-privatize-button { height:47px; }

///////////////////////// Animation Transitions /////////////////////

.glow-blue-text, .glow-gold-text, .glow-green-text, .glow-light-text, .glow-red-text {
  transition: color .5s, box-shadow .5s, text-shadow .5s;
}

////////////////////////// Wiki Template ///////////////////////////////////////////

.wiki-name { width: 150px; }

.wiki-owner {
  width: 150px;
  font-size: .75em;
}
.wiki-edit, .wiki-share { width: 20px; }

////////////////////////// Wiki Index Page //////////////////////////////////////

#wiki-frame {
  height: 600px;
  overflow: auto;
  margin-bottom: 20px;
}
.wiki-name { width: 250px; }
.wiki-owner { width: 200px; }
.wiki-edit { width: 40px; }

////////////////////////// New/Edit Wiki Page //////////////////////////////////////

#text-input, #preview {
  height: 600px;
  overflow: auto;
}

.name-box {
  font-size: 1.5em;
  bottom-margin: -5px;
}

#preview {
  font-size: 1.25em;
  color: white;
}


///////////////////////// Show Wiki Page //////////////////////////////

#preview.show {
  margin-bottom: 10px;
}

//#collab-list {
//  padding: 0px;
//}

//.collaborator {
.list-group-item {
  color: white;
  background: #303030; /* Old browsers */
  background: -moz-linear-gradient(top, #303030 0%, #474b51 99%, #828c95 100%, #28343b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303030), color-stop(99%,#474b51), color-stop(100%,#828c95), color-stop(100%,#28343b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #303030 0%,#474b51 99%,#828c95 100%,#28343b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #303030 0%,#474b51 99%,#828c95 100%,#28343b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #303030 0%,#474b51 99%,#828c95 100%,#28343b 100%); /* IE10+ */
  background: linear-gradient(to bottom, #303030 0%,#474b51 99%,#828c95 100%,#28343b 100%); /* W3C */
}

#hidden-text {
  display: none;
}

div.row#button-row {
  margin-top: 7px;
}

#edit {
  width: 100px;
}


  //////////////////////////// Collaboration Page /////////////////////////

.name { width: 230px; }

.email { width: 330px; }

.check-box { width: 20px; }


/////////////////////////// pulsing glow /////////////////////////////////

@-webkit-keyframes lightPulse {
  from { -webkit-text-shadow: 0 0 9px #333; }
  50% { -webkit-text-shadow: 0 0 18px #91bd09; }
  to { -webkit-text-shadow: 0 0 9px #333; }
}

#signup-box > a {
  -webkit-animation-name: lightPulse;
  -webkit-animation-duration: .5s;
  -webkit-animation-iteration-count: infinite;
}